:root {
  --brand-color: #2e2f42;
  --text-color: #4d5ae5;
  --background-color: #f4f4fd;
  --paragraph-color: #434455;
  /* color: var(--brand-color);*/
  /* color: var(--text-color);*/
  /* color: var(--background-color);*/
  /* color: var(--paragraph-color);*/
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Navigation Start here style*/
.header {
  padding-left: 156px;
  padding-right: 156px;
  display: flex;
}
.default-list {
  margin-top: 0px;
  text-align: center;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}
.default-link {
  text-decoration: none;
  flex-wrap: wrap;
  margin-top: 0px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  list-style: none;
  text-align: center;
  padding-right: px;
}
.studio {
  color: #2e2f42;
}
.list {
  list-style: none;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex-shrink: 0;
  display: inline-flex;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding-right: 40px;
}
.link:hover,
.link:focus {
  color: #404bbf;
  cursor: pointer;
}
.contact {
  font-style: normal;
}
.contact_value {
  font-size: 16px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 40px;
}
.contact_value:hover,
.contact_value:focus {
  color: #404bbf;
  cursor: pointer;
}

/*Main Style/Section1 Start here style*/
.main {
  background-color: #2e2f42;
  height: 600px;
  text-align: center;
  border: solid #2e2f42 1px;
}
.main_text {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  width: 496px;
  padding-top: 188px;
  margin-left: auto;
  margin-right: auto;
}
.main_button {
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border-radius: 4px;
}
.main_button:hover, .main_button:focus{
  background-color: #404BBF;
}

/*Section2 Style Start here style*/
.section2_ul {
  display: inline-flex;
  text-align: left;
  list-style: none;
  
}
.section2-header{
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.section2_p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section3 Start here style*/
.section3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  list-style: none;
  color: #2e2f42;
  flex-direction: column;
  gap: 24px;
}
.section3-header{
  font-size: 36px;
  line-height: 1.11em;
}
.section4 {
  background-color: #f4f4fd;
  height: 732px;
}

/*Section4 Start here style*/
.section4_list {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #ffffff;
}
.section4_header {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0px;
  padding: 0px;
}
.section4_p {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0px;
  padding: 0px;
}

/*Footer Start here style*/
.footer {
  background: #2e2f42;
  height: 312px;
  padding-left: 156px;
  padding-top: 101.5px;
}
.footer_logo {
  text-decoration: none;
  color:#4d5ae5;
}
.footer_studio {
  color: #f4f4fd;
}
.footer_text {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 264px;
}

/* portfolio style */

.portfolio-header{
  font-size: 36px;
  line-height: 1.11em;
  width: 100%;
}
.portfolio_button {
  font-family: 'Roboto', sans-serif;
  display: flex;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 12px 24px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  margin-left: 24px;
}
.portfolio_button:hover,
.portfolio_button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.portfolio_list {
  text-decoration: none;
  display: inline;
  margin-left: 24px;
  text-align: left;
}
.portfolio_header {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}
.portfolio_p {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
