:root {
  --brand-color: #2e2f42;
  --brand-color2: #4d5ae5;
  --background-color: #f4f4fd;
  --paragraph-color: #434455;

  /* color: var(--brand-color);*/
  /* color: var(--brand-color2);*/
  /* color: var(--background-color);*/
  /* color: var(--paragraph-color);*/
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color2);
}

.default-link,
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.logo-span {
  color: var(--brand-color);
}

.default-list,
.link {
  list-style: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
  cursor: pointer;
}

.address {
  font-style: normal;
}

.contact-value {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}

.contact-value:hover,
.contact-value:focus {
  color: #404bbf;
  cursor: pointer;
}

.section1 {
  background-color: var(--brand-color);
  text-align: center;
}

.section1-text {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
  font-style: normal;
}

.section1-button {
  background-color: var(--brand-color2);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.section1-button:hover,
.section1-button:focus {
  background-color: #404bbf;
}

.section2-header,
.section4-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.section2-p,
.section4-p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--paragraph-color);
}

.section3-header,
.section4-profile-header {
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}

.section4-header {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section4 {
  background-color: var(--background-color);
}
.section4-list {
  background-color: #ffffff;
}

/*Footer Start here style*/
.footer {
  background: #2e2f42;
}

.footer-logo {
  text-decoration: none;
  color: #4d5ae5;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* portfolio page start here */

.portfolio1-header {
  font-size: 36px;
  line-height: 1.11em;
}
.portfolio1-button {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color2);
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  margin-left: 24px;
}

.portfolio1-button:hover,
.portfolio1-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.portfolio2-header {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}

.portfolio2-paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
